################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/OnlineBidding
/OnlineBidding/bin
/OnlineBidding/obj/Debug
/OnlineBidding/App_Data/aspnet-OnlineBidding-20200124113359.mdf
/OnlineBidding/App_Data
